/*Block 1*/
:root {
  /*fonts*/
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /*text colors*/
  --main-txt-cl: #212121;
  --contct-txt-cl: #757575;
  --acceny-txt-cl: #2196f3;
  --white-txt-cl: #ffffff;
  --txt-logo-cl: #000000;

  /*bg colors*/
  --dark-bg-cl: #2f303a;
  --ligh-bg-cl: #f5f4fa;
  --btn-bg-hover-cl: #188ce8;
  --card-bg: #eeeeee;
  --modal-form-bg: #ffffff;

  /*others*/
  --columns-cl: #7000ff;
  --cards-cl: #ffffff;
  --line-cl: #ececec;
  --link-cl: #afb1b8;
}
